{{ template "header.html" . }}

<article class="category hentry type-{{.Title}} ">

    <header>
        <h2>{{ .Title }}</h2>
    </header>

    <div class="posts">
        <table>
        {{ range .Pages }}
            {{ if lt .Size 0 }}
            <tr>
                <td>📁</td>
                <td><a href="{{ .Url }}">{{ if .Title }}{{ .Title }}{{ else }}{{ .File }}{{ end }}</a></td>
            </tr>
            {{ end }}
        {{ end }}
        {{ range .Pages }}
            {{ if ge .Size 0 }}
            <tr>
                <td>{{ .Size  }}</td>
                <td><a href="{{ .Url }}">{{ if .Title }}{{ .Title }}{{ else }}{{ .File }}{{ end }}</a></td>
            </tr>
            {{ end }}
        {{ else }}
            No pages in this directory.
        {{ end }}
        </table>
    </div>

</article>

{{ template "footer.html" }}




